body {
    color: #DCEFF9 !important;
    background: #642B73;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Raleway', sans-serif !important;
    overflow-x: hidden;
}

/* Common */
section {
    padding: 20px 0;
}

section h5 {
    font-size: 26px;
}

h1, h3, h5 {
    font-weight: 700 !important;
}

/* Header */
.tracking-in-expand-fwd {
    margin-top: 20px;
    font-size: 68px;
	-webkit-animation: tracking-in-expand-fwd 1.5s both;
	animation: tracking-in-expand-fwd 1.5s both;
}

@-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
}
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
}

/* Main */
/* About me section */
.about-fade {
    animation: fadeAbout 4s;
}
@keyframes fadeAbout {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* About me text card */
.card1 {
    display: block;
    position: relative;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }
  
  .card1::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -20px;
    right: -20px;
    background: #DCEFF9;
    height: 70px;
    width: 70px;
    border-radius: 70px;
    transform: scale(1);
    transform-origin: 26% 26%;
    transition: transform 1.8s linear;
  }
  
  .card1:hover::before  {
    transform: scale(62);
  }
  
  .card1:hover h5 { 
    transition: all 0.8s ease-out;
    color: #374B81;
  }
  
  .card1:hover p {
    transition: all 0.8s ease-out;
    color: #374B81;
  }

.card.card-intro {
    border: 0;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
}

.card.quote-block {
    background-color: #374B81;
}

.card-body.quote-block {
    background-color: #374B81;
}

.card-body.quote-block p {
    margin: 32px 0;
}

/* About me left card - image & quote */
.blockquote-custom-icon {
    background-color: #DCEFF9;
    color: #374B81;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -44px;
    left: -4px;
}

.img-demian {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 8px;
}

.card.card-quote {
    border: 0 !important;
    background-color: transparent !important;
}

/* Projects section */
.thumb img {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.thumb {
    display: none;
}

.thumb.active {
    display: block;
}

/* Languages section */
.list-group-item.text-center {
    background-color: #374B81;
    color: #DCEFF9;
}

.tech-stack {
    color: #374B81;
    font-size: 22px;
}

.card.stack-card {
    margin: auto;
    color: white;
    border: 1px solid #374B81;
    background-color: #374B81;
    box-shadow: 0 2px 4px 0 rgb(136 144 195 / 20%), 0 5px 10px 0 #4696c1;
}

.stack-icon {
    font-size: 60px;
    text-align: center;
}

.stack-icon svg {
    width: 60px;
    vertical-align: middle;
    color: white;
    filter: invert(1);
}

.mail-contact,a {
    text-decoration: none;
    color: inherit;
    font-style: italic;
}

/* Footer */
footer {
    padding: 20px 0;
    background-color: #374B81 !important;
    color: #DCEFF9;
    position: relative;
    width: 100%;
    bottom: 0;
    right: 0;
}

.footer a {
    text-decoration: none;
}

.fa-social {
    font-size: 40px;
    color: #DCEFF9;
}

/* .copertina {
    text-shadow: 1px 2px  #4696c1 !important;
} */

  